[submodule "pack/plugins/start/Comment.nvim"]
	path = pack/plugins/start/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/plugins/start/fzf.vim"]
	path = pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
